<footer>
	<div class="container mb-n6 position-relative">
		<div class="align-items-center bg-color-cyan d-flex flex-column flex-md-row justify-content-around py-4 rounded-2 text-white">
			<div class="d-none d-md-block px-4"><i class="fa-comments fa-regular fs-48"></i></div>
			<div class="fs-20 fw-bold lh-sm px-4 px-md-0 text-center text-md-start">Besoin d'accompagnement dans le choix de votre matériel cuisine ou <span class="d-none d-xxl-inline">de votre matériel</span> médical&nbsp;?</div>
			<div class="mt-3 mt-md-0 px-4"><a href="contact.html" class="border-white btn text-nowrap text-white">Contacter nos équipes</a></div>
		</div>
	</div>
	<div class="bg-secondary pt-6 text-white">
		<div class="container py-4 py-lg-6">
			<div class="row">
				<div class="col-lg-3 col-xl-6 text-center text-md-start">
					<div class="row">
						<div class="col-md-4 col-lg-12">
							<a href="index.html" class="d-inline-block logo"><img src="resources/medias/images/logos/logo-hupfer-1.5x.png" srcset="resources/medias/images/logos/logo-hupfer-3x.png 2x" alt="HUPFER" class="img-fluid" /></a>
						</div>
						<div class="align-self-md-center align-self-lg-start col-md-8 col-lg-12 mt-4">
							<ul class="d-flex flex-lg-column fs-20 justify-content-center justify-content-md-start list-unstyled">
								<li><a href="#"><i class="d-none d-tn-inline-block fa-circle-arrow-right fa-solid me-2 text-success"></i>Cuisine</a></li>
								<li class="ms-1 ms-tn-4 ms-md-5 ms-lg-0 mt-lg-1"><span class="d-tn-none me-1">•</span><a href="#"><i class="d-none d-tn-inline-block fa-circle-arrow-right fa-solid me-2 text-success"></i>Médical</a></li>
								<li class="ms-1 ms-tn-4 ms-md-5 ms-lg-0 mt-lg-1"><span class="d-tn-none me-1">•</span><a href="#"><i class="d-none d-tn-inline-block fa-circle-arrow-right fa-solid me-2 text-success"></i>Promotions</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-sm-4 col-lg-3 col-xl-2 mt-4 mt-lg-0 order-sm-2 text-center text-md-start">
					<div class="fs-20 text-uppercase">Contact</div>
					<div class="lh-md mt-3">
						<p>11 B Rue du Ried</p>
						<p class="mt-1">67720 Weyersheim</p>
						<p class="mt-1">Tél. : <a href="tel:+33388517345" class="text-white">03 88 51 73 45</a></p>
						<p class="mt-1">Fax : 03 88 51 73 23</p>
						<a href="contact.html" class="btn btn-info mt-3">Contactez-nous</a>
					</div>
				</div>
				<div class="col-6 col-sm-4 col-lg-3 col-xl-2 mt-4 mt-lg-0 order-sm-1 text-end text-sm-start">
					<div class="fs-20 text-uppercase">Menu</div>
					<ul class="lh-md list-unstyled mt-3">
						<li><a href="compte.html">Mon compte</a></li>
						<li class="mt-1"><a href="qui-sommes-nous.html">Qui sommes-nous ?</a></li>
						<li class="mt-1"><a href="actualites.html">Actualités</a></li>
						<li class="mt-1"><a href="faq.html">FAQ</a></li>
					</ul>
				</div>
				<div class="col-6 col-sm-4 col-lg-3 col-xl-2 mt-4 mt-lg-0 order-sm-3 text-sm-end text-md-start">
					<div class="fs-20 text-uppercase">Mentions</div>
					<ul class="lh-md list-unstyled mt-3">
						<li><a href="mentions-legales.html">Mentions légales</a></li>
						<li class="mt-1"><a href="cgv.html">CGV</a></li>
						<li class="mt-1"><a href="rgpd.html">RGPD</a></li>
						<li class="mt-1"><a href="#cookies">Gestion des cookies</a></li>
					</ul>
					<ul class="align-items-center d-flex fs-26 justify-content-sm-end justify-content-md-start list-unstyled mt-4 position-absolute position-sm-static">
						<li><a href="https://www.facebook.com/profile.php?id=100063236020726" title="Retrouvez-nous sur Facebook [nouvelle fenêtre]" class="d-block"><i class="d-block fa-brands fa-facebook-f"></i></a></li>
						<li class="ms-3"><a href="https://fr.linkedin.com/company/hupfer" title="Retrouvez-nous sur LinkedIn [nouvelle fenêtre]" class="d-block"><i class="d-block fa-brands fa-linkedin-in"></i></a></li>
						<li class="ms-3"><a href="https://www.instagram.com/hupfer_france/" title="Retrouvez-nous sur Instagram [nouvelle fenêtre]" class="d-block"><i class="d-block fa-brands fa-instagram"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="bg-primary text-white">
		<div class="container py-2">
			<div class="align-items-center d-flex flex-column flex-sm-row justify-content-sm-between">
				<div>Tous droits réservés 2022 • HUPFER</div>
				<div class="mt-2 mt-sm-0"><a href="https://www.animaweb.fr/" target="_blank" rel="noopener" title="Conception, réalisation, référencement et hébergement de sites internet - Animaweb [nouvelle fenêtre]" id="editeur"><img src="resources/medias/images/logos/logo-animaweb.svg" alt="Conception, réalisation, référencement et hébergement de sites internet - Animaweb" class="d-block" /></a></div>
			</div>
		</div>
	</div>
</footer>
<a href="#top" title="Retour en haut de page" class="border-end-0 border-white btn btn-primary opacity-0 p-0 position-fixed rounded-0 scrollto transition z-10000"><i class="fa-arrow-up fa-solid fs-24"></i></a>