<header class="pb-4">
	<div class="container position-relative">
		<div class="d-flex flex-wrap">
			<ul class="d-none d-sm-flex list-unstyled order-sm-first position-relative py-2 z-10000">
				<li><a href="qui-sommes-nous.html" class="link-light">Qui sommes-nous ?</a></li>
				<li class="ms-5"><a href="actualites.html" class="link-light">Actualités</a></li>
				<li class="ms-5"><a href="faq.html" class="link-light">FAQ</a></li>
				<li class="ms-5"><a href="contact.html" class="link-light">Nous contacter</a></li>
			</ul>
			<form class="align-self-sm-end ms-sm-auto order-sm-4 position-relative z-10000">
				<div class="input-group">
					<input type="text" class="bg-light bg-opacity-25 border-0 form-control rounded-0 search" placeholder="Recherche" aria-label="Recherche">
					<button type="button" class="bg-light bg-opacity-25 border-0 btn ms-0 px-2 py-2 py-sm-1 rounded-0"><i class="fa-solid fa-magnifying-glass"></i></button>
				</div>
			</form>
			<ul class="align-self-end d-flex fs-24 list-unstyled ms-auto ms-sm-3 order-sm-5 position-relative py-2 py-sm-1 z-10000">
				<li><a href="compte.html" class="d-block link-secondary"><i class="d-block fa-circle-user fa-solid"></i></a></li>
				<li><a href="panier-1.html" class="d-block link-secondary ms-2"><i class="d-block fa-solid fa-cart-shopping"></i></a></li>
			</ul>
			<div class="align-self-end d-lg-none ms-3 ms-lg-0 order-sm-last py-1 py-sm-0"><a href="#" class="btn btn-primary hamburger position-relative"><span class="fs-0 toggle">Afficher/masquer le menu de navigation</span></a></div>
			<div class="border-bottom mb-3 order-sm-1 position-relative w-100 z-10000"></div>
			<div class="me-lg-6 order-sm-2 position-relative z-10000"><a href="index.html" class="d-inline-block"><img src="resources/medias/images/logos/logo-hupfer.png" srcset="resources/medias/images/logos/logo-hupfer-2x.png 2x" alt="HUPFER" class="img-fluid" /></a></div>
			<nav id="navigation" class="order-sm-3">
				<ul class="align-items-lg-end container d-flex flex-column flex-lg-row h-100 list-unstyled menu-depth-0 px-lg-0 w-100">
					<li class="current"><a href="index.html">Accueil</a></li>
					<li class="d-sm-none"><a href="qui-sommes-nous.html">Qui sommes-nous ?</a></li>
					<li class="cuisine">
						<a href="#">Cuisine</a>
						<div class="pt-lg-4">
							<ul class="columns-lg-3 columns-xxl-4 menu-depth-1 p-lg-4 rounded">
								<li>
									<a href="#">Rayonnages</a>
									<ul class="menu-depth-2">
										<li><a href="#">Rayonnage Norme 20</a></li>
										<li><a href="#">Rayonnage Norme 12</a></li>
										<li><a href="#">Rayonnage Norme 5</a></li>
									</ul>
								</li>
								<li>
									<a href="#">Chariots</a>
									<ul class="menu-depth-2">
										<li><a href="#">Chariots de service</a></li>
										<li><a href="#">Chariots à glissières</a></li>
										<li><a href="#">Chariots de transport de paniers</a></li>
									</ul>
								</li>
								<li>
									<a href="#">Transport et distribution</a>
									<ul class="menu-depth-2">
										<li><a href="#">Chariots de transport</a></li>
										<li><a href="#">Rayonnage mural</a></li>
									</ul>
								</li>
								<li>
									<a href="#">Chariots à niveau constant</a>
									<ul class="menu-depth-2">
										<li><a href="#">Chariots niveau constant à assiettes</a></li>
										<li><a href="#">Chariots niveau constant universels</a></li>
										<li><a href="#">Chariots niveau constant à casiers</a></li>
									</ul>
								</li>
								<li>
									<a href="#">Chariots bain-marie</a>
									<ul class="menu-depth-2">
										<li><a href="#">Chariots bain-marie universels</a></li>
										<li><a href="#">Chariots bain-marie réfrigérés</a></li>
										<li><a href="#">Chariots bain-marie froid passif</a></li>
									</ul>
								</li>
								<li>
									<a href="#">Chariots transport de repas</a>
									<ul class="menu-depth-2">
										<li><a href="#">Système de distribution liaison chaude/froide</a></li>
										<li><a href="#">Système de distribution par thermostat</a></li>
										<li><a href="#">Chariots de distribution de repas (liaison chaude)</a></li>
									</ul>
								</li>
								<li>
									<a href="#">Convoyeurs</a>
									<ul class="menu-depth-2">
										<li><a href="#">Convoyeurs de conditionnement</a></li>
										<li><a href="#">Convoyeurs retour de vaisselle</a></li>
									</ul>
								</li>
								<li>
									<a href="#">Petit matériel</a>
									<ul class="menu-depth-2">
										<li><a href="#">Bacs gastronomes</a></li>
										<li><a href="#">Bacs gastronomes perforés</a></li>
										<li><a href="#">Accessoires</a></li>
									</ul>
								</li>
								<li>
									<a href="#">Inox</a>
									<ul class="menu-depth-2">
										<li><a href="#">Tables de travail standards</a></li>
										<li><a href="#">Accessoires</a></li>
										<li><a href="#">Tables standards</a></li>
									</ul>
								</li>
								<li><a href="#">Lignes de self</a></li>
								<li><a href="#">Machines à glaçons</a></li>
							</ul>
						</div>
					</li>
					<li>
						<a href="#">Médical</a>
						<div class="pt-lg-4">
							<ul class="columns-lg-3 columns-xxl-4 menu-depth-1 p-lg-4 rounded">
								<li>
									<a href="#">Lavage et décontamination</a>
									<ul class="menu-depth-2">
										<li><a href="#">Zone de lavage</a></li>
										<li><a href="#">Paniers de lavage</a></li>
										<li><a href="#">Paniers de stérilisation</a></li>
									</ul>
								</li>
								<li>
									<a href="#">Conditionnement et préparation</a>
									<ul class="menu-depth-2">
										<li><a href="#">Tables de conditionnement</a></li>
										<li><a href="#">Supports bacs à bec</a></li>
									</ul>
								</li>
								<li>
									<a href="#">Transport et distribution</a>
									<ul class="menu-depth-2">
										<li><a href="chariots-de-transport.html">Chariots de transport</a></li>
										<li><a href="#">Rayonnage mural</a></li>
									</ul>
								</li>
								<li>
									<a href="#">Stockage et rangement</a>
									<ul class="menu-depth-2">
										<li><a href="#">Supports muraux</a></li>
										<li><a href="#">Rayonnage</a></li>
									</ul>
								</li>
								<li>
									<a href="#">Bloc opératoire</a>
									<ul class="menu-depth-2">
										<li><a href="">Chariots de bloc</a></li>
										<li><a href="#">Table à instruments</a></li>
										<li><a href="#">Marche-pieds</a></li>
									</ul>
								</li>
								<li>
									<a href="#">Transport et récupération du linge</a>
									<ul class="menu-depth-2">
										<li><a href="#">Linge sale</a></li>
										<li><a href="#">Linge propre</a></li>
										<li><a href="#">Rayonnage linge</a></li>
									</ul>
								</li>
								<li>
									<a href="#">Stockage et chariots bio-médicaux</a>
									<ul class="menu-depth-2">
										<li><a href="#">Logiko</a></li>
										<li><a href="#">Plans de travail</a></li>
										<li><a href="#">Parois techniques</a></li>
									</ul>
								</li>
								<li>
									<a href="#">Equipement de soins</a>
									<ul class="menu-depth-2">
										<li><a href="#">Fauteuils de soins ambulatoires</a></li>
										<li><a href="#">Tables d'examen</a></li>
										<li><a href="#">Table gynécologique</a></li>
									</ul>
								</li>
							</ul>
						</div>
					</li>
					<li><a href="#">Promotions</a></li>
					<li class="d-sm-none"><a href="actualites.html">Actualités</a></li>
					<li class="d-sm-none"><a href="faq.html">FAQ</a></li>
					<li class="d-sm-none"><a href="contact.html">Nous contacter</a></li>
				</ul>
			</nav>
			<ul class="align-items-center d-flex list-unstyled ms-auto order-sm-0 position-relative z-10000">
				<li><a href="https://www.facebook.com/profile.php?id=100063236020726" title="Retrouvez-nous sur Facebook [nouvelle fenêtre]" class="d-block link-light"><i class="d-block fa-brands fa-facebook-f"></i></a></li>
				<li class="ms-2"><a href="https://fr.linkedin.com/company/hupfer" title="Retrouvez-nous sur LinkedIn [nouvelle fenêtre]" class="d-block link-light"><i class="d-block fa-brands fa-linkedin-in"></i></a></li>
				<li class="ms-2"><a href="https://www.instagram.com/hupfer_france/" title="Retrouvez-nous sur Instagram [nouvelle fenêtre]" class="d-block link-light"><i class="d-block fa-brands fa-instagram"></i></a></li>
			</ul>
		</div>
	</div>
</header>